.categorytablename {
    display: block;
    width: 78%;
    float: left;
    padding-left: 3%;
}
.categorytablecolor {
    width: 19%;
    display: block;
    height: 18px;
    float: left;
}
.eventnamelabel {
    padding-left: 2px;
}
.timelabel, .eventnamelabel {
    font-size: smaller;
}
.timelabel {
    padding-right: 3px;
    float: left;
}
.categorylabel {
    width: 6%;
    display: block;
    height: 13px;
    float: left;
}
.daytable {
    width: 100%;
    height: 80px;
}
.daynumberrow {
    height: 18px;
}
.daynumberrow, .eventrow, .eventdata{
    display: block;
}
.eventdata {
    width: 100%;
}
.daytd {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    position: absolute;
    border: none;
}
.logindialog {
    background: #CFCFCF;
    border: solid 1px black;
}
#welcomemessage {
    height: 0;
    margin-top: 0;
}
#logoff {
    float: right;
}
.ui-dialog-titlebar {
    background: slategrey;
    color: white;
}
.ui-dialog-content, .ui-dialog-buttonset, .ui-dialog-titlebar{
    padding: 5px;
}
.logininputs {
    margin-bottom: 10px;
}
#logininfo {
    display: none;
}
.ui-dialog-titlebar-close {
    display: none;
}
#backarrowcontainer, #forwardarrowcontainer {
    width: 8%;
}
#dateofcalendarcontainer {
    width: 75%;
    text-align: center;
}
#backarrow, #forwardarrow {
    font-family: sans-serif;
    font-size: larger;
}
#dateofcalendar {
    margin: 0;
}
.header {
    padding: 5px;
    float: left;
}
#calendarview {
    width: 92%;
}
#categories {
    width: 8%;
    float: left;
}
.purple {
    background: purple;
}
.red {
    background: red;
}
.orange {
    background: orange;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.spanningelement {
    height: 50px;
}
.tableoutline, .eventrow {
    border: solid 1px black;
    border-collapse: collapse;
}
td {
   width: 14%; 
}
.loginandregister {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}
.calendareventhandling {
    float: left;
    padding: 5px;
}
.todaysdate {
    background-color: #CFCFCF;
}
.notinthemonth {
    color: #CFCFCF;
}
.centered {
    margin: 0 auto;
    width: 340px;
}
.daynumberheader {
    float: right;
    padding-right: 2px;
    margin-bottom: 41px;
}